# read-only Vi is more pleasant to use than more
alias more='vim -R -'

# ls
alias ll='ls -1AqF'

alias dfh='df -h | grep /dev/disk | sort'
alias tailf='tail -f'

# diff
alias vdiff='git diff'
alias diff='diff --color=auto'

# Colours please...
alias grep='grep --color=auto'

# sys Info
alias free='top -l 1 -s 0 | grep PhysMem'
alias nwk='lsof -P -i -n'          # what processes are using network

# opening and closing stuff...
alias :q='exit'

alias dud='du -ch -d 1 | sort -hr'

# tmux - see also home() function in ~/.shell_functions
alias tks='tmux kill-server'

### OSX
#
alias ._="find . -name '._*' -exec rm -v {} \; && find . -name '.DS_Store' -exec rm -v {} \;"

## YOUTUBE-DL Specific
#
# Audiobook
alias ytab='youtube-dl -ic -o "%(title)s.%(ext)s" -x --audio-format mp3 --audio-quality 128K --external-downloader aria2c --external-downloader-args "-c -j 3 -x 3 -s 3 -k 1M" --postprocessor-args "-threads 3"'
#
# Movie, embed metadata & subs, use external downloaded
alias ytdl='youtube-dl --user-agent "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" --all-subs --embed-subs --write-thumbnail --add-metadata -i --external-downloader aria2c --external-downloader-args "-c -j 3 -x 3 -s 3 -k 1M" '


alias ytdlp='yt-dlp --user-agent "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" --all-subs --embed-subs --write-thumbnail --add-metadata -i --external-downloader aria2c --external-downloader-args "-c -j 3 -x 3 -s 3 -k 1M" '
# same as above but use youtube-dlc instead
alias ytdlc='youtube-dlc --user-agent "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" --all-subs --embed-subs --write-thumbnail --add-metadata -i --external-downloader aria2c --external-downloader-args "-c -j 3 -x 3 -s 3 -k 1M" '
#
# External downloader can be less performant: this ignores it
alias ytdlna='youtube-dl --user-agent "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" --all-subs --embed-subs --write-thumbnail --add-metadata -i '

alias venvit="python3 -m venv .venv && source .venv/bin/activate && pip install --upgrade pip"
alias pf="pip freeze > requirements.txt"
