.Xauthority
.bash_history
.cache/
.config/autostart/
.config/neofetch/
.config/rclone/
.dropbox-dist/
.dropbox/
.gitconfig
.local/
.secret_aliases
.selected_editor
.ssh/
.vim/.netrwhist
.vim/autoload/plug.vim
.vim/plugged/
.viminfo
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.cfg
.wakatime.data
.wakatime.log
.wakatime/
.wget-hsts
.zotero/
1.md
Dropbox/
Scripts
Zotero/
dotfiles/
git
nohup.out
scratch/
zotero-better-bibtex-6.5.1.xpi
