#include ~/.nano/*.nanorc


# Use auto-indentation
set autoindent

# Backup files to filename~
set backup

# Enable ~/.nano_history for saving and reading search/replace strings.
# set historylog

# Don't convert files from DOS/Mac format
set noconvert

# Don't follow symlinks when writing files
# set nofollow

# wrap files, don't split words over lines
set softwrap
set atblanks

# hide as much of the nav /help as possible
set nohelp
unset constantshow
set quickblank
# Use smooth scrolling as the default
set smooth

# Use this spelling checker instead of the internal one.  This option
# does not properly have a default value.
set speller "aspell -c"

# Allow nano to be suspended with ^Z
set suspend

# Use this tab size instead of the default; it must be greater than 0
set tabsize 4

# Save automatically on exit, don't prompt
set tempfile

# Enable ~/.nano_history for saving and reading search/replace strings.
set historylog

#set real line numbers
set linenumbers
set numbercolor brightgreen

# don't add a newline at the end of a file 
unset nonewlines

# use regex aware searhing
set regexp

# use unix line endings
set unix
unset noconvert
